* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 700px; /* 3 box da 200px */
    margin: 50px auto; /* centralizza il container. 50px(alto_basso) auto(dx_sx) */
    /* non metto altezza perché così si adatta in base alla classe prodotto */
    /* height: 600px; */
    background-color: grey;
    text-align: center;
}

.riga {
    padding: 40px 0;
}

.prodotto {
    width: 200px;
    height: 300px;
    display: inline-block;
    position: relative;
    background-color: red;
    /* border: 2px solid black; */
}
.prodotto img {
    /* margin: 25px auto; */
    width: 200px;
    height: 300px;
    object-fit: contain;
    object-position: center;
    background-color: #ecebe9;
}

.sconto {
    background-color: green;
    position: absolute; /* l'absolute ha bisogno un genitore relative a cui riferirsi*/
    top: 0;
    right: 0;
}

.sconto.minore {
    background-color: red;
}

.cuore {
    display:none;
    font-size: 30px;
    color: red;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.prodotto:hover .cuore {
    display:inline-block;
}
