* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.vetrina {
    margin: 80px;
    width: 300px;
    height: 350px;
    background-color: grey;
    display: inline-block;
    display:
}
